{% extends "base.html" %}

{% block content %}
<div class="container">

  {% verbatim %}
  <div ng-controller="DashboardController">
    <table class="table table-striped">
      <legend>Your Clusters</legend>
      <thead>
        <tr><th>Name</th><th>Datastore</th><th>Number of Nodes</th><th>Last Modified</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="cluster in clusters">
           <td>{{ cluster.name }}</td>
           <td>{{ cluster.datastore.name }}</td>
           <td>{{ cluster.size }}</td>
           <td>{{ cluster.created }}</td>
       </tr>
       <tr>
           <td colspan="4">
             <form class="form-inline" role="form">
                 <label class="sr-only" for="name">Cluster Name</label>
                 <input id="name" class="form-control" type="text" ng-model="newCluster.name" placeholder="Cluster Name" />
                 <label class="sr-only" for="size">Number of Nodes</label>
                 <input id="size" class="form-control" type="text" ng-model="newCluster.size" placeholder="Number of Nodes" />
                 <label class="sr-only" for="datastore">Datastore</label>
                 <select id="datastore" class="form-control" ng-model="newCluster.datastore_id" required ng-options="datastore.name for datastore in datastores">
                 </select>
                 <button type="submit" class="btn btn-primary" ng-click="submit()">Create Cluster</button>
             </form>
           </td>
       </tr>
      </tbody>
    </table>
  </div>
  {% endverbatim %}
</div><!-- /.container -->
{% endblock %}
